asyncpg==0.29.0
fastapi==0.115.6
fastapi-cache2==0.2.2
langchain==0.3.8
langchain_core==0.3.25
langgraph==0.2.59
psycopg2-binary==2.9.10
pydantic==2.10.3
pymongo==4.10.1
python-dotenv==1.0.1
uvicorn==0.34.0
sqlglot==26.6.0
sqlparse==0.5.3
concurrent-log-handler==0.9.25